=begin
#Wheel Fitment API

#The Wheel Fitment API allows for programmatic access to the database of www.wheel-size.com and its services. Use this API to retrieve information about vehicle fitment database for rims and tires, including OE and option fitments, and plus/minus sizing fitment information. A variety of country and language specific options are available. The coverage of fitment data for vehicles manufactured since 2000 is nearly 100%.  The information about fitment data is updated on a daily basis.

OpenAPI spec version: v1
Contact: info@wheel-size.com
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0-SNAPSHOT

=end

require 'uri'

module WsApiClient
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Find models matching given high flotation tire
    # Get a list of model modifications that match the given tire size in high flotation sizing system
    # @param tire_diameter Tire diameter, in (e.g. &#x60;31&#x60;)
    # @param tire_section_width Tire section width, in (e.g. &#x60;10.5&#x60;)
    # @param rim_diameter_hf Rim diameter, in (e.g. &#x60;15&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang Use this parameter anywhere in the API to get *&#x60;name&#x60;* field translation of the following objects: **&#x60;Make&#x60;**, **&#x60;Model&#x60;**, **&#x60;Market&#x60;**. Across the *&#x60;name&#x60;* this objects will have *&#x60;name_en&#x60;* field with original english name. By default &#x60;en&#x60; language is used.  Available languages: &#x60;en,de,ru,es,pt,fr,ja,zh-cn&#x60;. Currently translation works for chinese &#x60;zh-cn&#x60; language only
    # @option opts [String] :brands Show information only for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;mitsubishi,nissan,toyota&#x60;)
    # @option opts [String] :brands_exclude Don&#39;t show information for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;geely,great-wall&#x60;)
    # @option opts [String] :countries Show information for local manufacturers from specified countries only. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;us,gb,jp&#x60;)
    # @option opts [String] :countries_exclude Don&#39;t show information for local manufacturers from specified countries. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;ru,ua&#x60;)
    # @return [Array<MakeWithModels>]
    def search_by_hf_tire_list(tire_diameter, tire_section_width, rim_diameter_hf, opts = {})
      data, _status_code, _headers = search_by_hf_tire_list_with_http_info(tire_diameter, tire_section_width, rim_diameter_hf, opts)
      data
    end

    # Find models matching given high flotation tire
    # Get a list of model modifications that match the given tire size in high flotation sizing system
    # @param tire_diameter Tire diameter, in (e.g. &#x60;31&#x60;)
    # @param tire_section_width Tire section width, in (e.g. &#x60;10.5&#x60;)
    # @param rim_diameter_hf Rim diameter, in (e.g. &#x60;15&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang Use this parameter anywhere in the API to get *&#x60;name&#x60;* field translation of the following objects: **&#x60;Make&#x60;**, **&#x60;Model&#x60;**, **&#x60;Market&#x60;**. Across the *&#x60;name&#x60;* this objects will have *&#x60;name_en&#x60;* field with original english name. By default &#x60;en&#x60; language is used.  Available languages: &#x60;en,de,ru,es,pt,fr,ja,zh-cn&#x60;. Currently translation works for chinese &#x60;zh-cn&#x60; language only
    # @option opts [String] :brands Show information only for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;mitsubishi,nissan,toyota&#x60;)
    # @option opts [String] :brands_exclude Don&#39;t show information for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;geely,great-wall&#x60;)
    # @option opts [String] :countries Show information for local manufacturers from specified countries only. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;us,gb,jp&#x60;)
    # @option opts [String] :countries_exclude Don&#39;t show information for local manufacturers from specified countries. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;ru,ua&#x60;)
    # @return [Array<(Array<MakeWithModels>, Fixnum, Hash)>] Array<MakeWithModels> data, response status code and response headers
    def search_by_hf_tire_list_with_http_info(tire_diameter, tire_section_width, rim_diameter_hf, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_by_hf_tire_list ...'
      end
      # verify the required parameter 'tire_diameter' is set
      if @api_client.config.client_side_validation && tire_diameter.nil?
        fail ArgumentError, "Missing the required parameter 'tire_diameter' when calling SearchApi.search_by_hf_tire_list"
      end
      # verify the required parameter 'tire_section_width' is set
      if @api_client.config.client_side_validation && tire_section_width.nil?
        fail ArgumentError, "Missing the required parameter 'tire_section_width' when calling SearchApi.search_by_hf_tire_list"
      end
      # verify the required parameter 'rim_diameter_hf' is set
      if @api_client.config.client_side_validation && rim_diameter_hf.nil?
        fail ArgumentError, "Missing the required parameter 'rim_diameter_hf' when calling SearchApi.search_by_hf_tire_list"
      end
      # resource path
      local_var_path = '/search/by_hf_tire/'

      # query parameters
      query_params = {}
      query_params[:'tire_diameter'] = tire_diameter
      query_params[:'tire_section_width'] = tire_section_width
      query_params[:'rim_diameter_hf'] = rim_diameter_hf
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'brands'] = opts[:'brands'] if !opts[:'brands'].nil?
      query_params[:'brands_exclude'] = opts[:'brands_exclude'] if !opts[:'brands_exclude'].nil?
      query_params[:'countries'] = opts[:'countries'] if !opts[:'countries'].nil?
      query_params[:'countries_exclude'] = opts[:'countries_exclude'] if !opts[:'countries_exclude'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['user_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<MakeWithModels>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_by_hf_tire_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find OE and option fitments by model/year/trim
    # Find OE and option fitments that match the given manufacturer, model, year and trim.  **It's an alias** for _**`GET /vehicles/`**_ method
    # @param make Manufacturer slug name, use _**&#x60;GET /makes/&#x60;**_ to get possible values (e.g. &#x60;mitsubishi&#x60;)
    # @param model Model slug name, use _**&#x60;GET /models/&#x60;**_ to get possible values (e.g. &#x60;outlander&#x60;)
    # @param year You can use _**&#x60;GET /years/&#x60;**_ to get possible years (e.g. &#x60;2015&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trim Use *&#x60;slug&#x60;* from _**&#x60;GET /trims/&#x60;**_ methods here. (e.g. &#x60;2.0+GG2W&#x60;)
    # @option opts [BOOLEAN] :only_oem Show only original equipment wheels
    # @option opts [String] :lang Use this parameter anywhere in the API to get *&#x60;name&#x60;* field translation of the following objects: **&#x60;Make&#x60;**, **&#x60;Model&#x60;**, **&#x60;Market&#x60;**. Across the *&#x60;name&#x60;* this objects will have *&#x60;name_en&#x60;* field with original english name. By default &#x60;en&#x60; language is used.  Available languages: &#x60;en,de,ru,es,pt,fr,ja,zh-cn&#x60;. Currently translation works for chinese &#x60;zh-cn&#x60; language only
    # @return [Array<Vehicle>]
    def search_by_model_list(make, model, year, opts = {})
      data, _status_code, _headers = search_by_model_list_with_http_info(make, model, year, opts)
      data
    end

    # Find OE and option fitments by model/year/trim
    # Find OE and option fitments that match the given manufacturer, model, year and trim.  **It&#39;s an alias** for _**&#x60;GET /vehicles/&#x60;**_ method
    # @param make Manufacturer slug name, use _**&#x60;GET /makes/&#x60;**_ to get possible values (e.g. &#x60;mitsubishi&#x60;)
    # @param model Model slug name, use _**&#x60;GET /models/&#x60;**_ to get possible values (e.g. &#x60;outlander&#x60;)
    # @param year You can use _**&#x60;GET /years/&#x60;**_ to get possible years (e.g. &#x60;2015&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :trim Use *&#x60;slug&#x60;* from _**&#x60;GET /trims/&#x60;**_ methods here. (e.g. &#x60;2.0+GG2W&#x60;)
    # @option opts [BOOLEAN] :only_oem Show only original equipment wheels
    # @option opts [String] :lang Use this parameter anywhere in the API to get *&#x60;name&#x60;* field translation of the following objects: **&#x60;Make&#x60;**, **&#x60;Model&#x60;**, **&#x60;Market&#x60;**. Across the *&#x60;name&#x60;* this objects will have *&#x60;name_en&#x60;* field with original english name. By default &#x60;en&#x60; language is used.  Available languages: &#x60;en,de,ru,es,pt,fr,ja,zh-cn&#x60;. Currently translation works for chinese &#x60;zh-cn&#x60; language only
    # @return [Array<(Array<Vehicle>, Fixnum, Hash)>] Array<Vehicle> data, response status code and response headers
    def search_by_model_list_with_http_info(make, model, year, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_by_model_list ...'
      end
      # verify the required parameter 'make' is set
      if @api_client.config.client_side_validation && make.nil?
        fail ArgumentError, "Missing the required parameter 'make' when calling SearchApi.search_by_model_list"
      end
      # verify the required parameter 'model' is set
      if @api_client.config.client_side_validation && model.nil?
        fail ArgumentError, "Missing the required parameter 'model' when calling SearchApi.search_by_model_list"
      end
      # verify the required parameter 'year' is set
      if @api_client.config.client_side_validation && year.nil?
        fail ArgumentError, "Missing the required parameter 'year' when calling SearchApi.search_by_model_list"
      end
      # resource path
      local_var_path = '/search/by_model/'

      # query parameters
      query_params = {}
      query_params[:'make'] = make
      query_params[:'model'] = model
      query_params[:'year'] = year
      query_params[:'trim'] = opts[:'trim'] if !opts[:'trim'].nil?
      query_params[:'only_oem'] = opts[:'only_oem'] if !opts[:'only_oem'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['user_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<Vehicle>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_by_model_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find models matching given rim parameters
    # Get a list of model modifications that match the given rim parameters, grouped by manufacturer.  It's an alias for _**`GET /bolt-patterns/{bolt_pattern}/`**_        method with given path and query parameters.
    # @param bolt_pattern Bolt pattern combines number of stud holes and pitch circle diameter. Use _**&#x60;GET /bolt-patterns/&#x60;**_ to get possible values (e.g. &#x60;5x105&#x60;)
    # @param rim_diameter Rim diameter, in (e.g. &#x60;16&#x60;)
    # @param rim_width Rim width, in (e.g. &#x60;7&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :offset Rim offset, mm (e.g. &#x60;40&#x60;)
    # @option opts [Float] :offset_min Lower bound for rim offset, mm (e.g. &#x60;35&#x60;)
    # @option opts [Float] :offset_max Upper bound for rim offset, mm (e.g. &#x60;45&#x60;)
    # @option opts [Float] :cb Centre bore value, mm (e.g. &#x60;60&#x60;)
    # @option opts [Float] :cb_min Lower bound for centre bore value, mm (e.g. &#x60;55&#x60;)
    # @option opts [Float] :cb_max Upper bound for centre bore value, mm (e.g. &#x60;65&#x60;)
    # @option opts [String] :lang Use this parameter anywhere in the API to get *&#x60;name&#x60;* field translation of the following objects: **&#x60;Make&#x60;**, **&#x60;Model&#x60;**, **&#x60;Market&#x60;**. Across the *&#x60;name&#x60;* this objects will have *&#x60;name_en&#x60;* field with original english name. By default &#x60;en&#x60; language is used.  Available languages: &#x60;en,de,ru,es,pt,fr,ja,zh-cn&#x60;. Currently translation works for chinese &#x60;zh-cn&#x60; language only
    # @option opts [String] :brands Show information only for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;mitsubishi,nissan,toyota&#x60;)
    # @option opts [String] :brands_exclude Don&#39;t show information for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;geely,great-wall&#x60;)
    # @option opts [String] :countries Show information for local manufacturers from specified countries only. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;us,gb,jp&#x60;)
    # @option opts [String] :countries_exclude Don&#39;t show information for local manufacturers from specified countries. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;ru,ua&#x60;)
    # @return [Array<MakeWithModels>]
    def search_by_rim_list(bolt_pattern, rim_diameter, rim_width, opts = {})
      data, _status_code, _headers = search_by_rim_list_with_http_info(bolt_pattern, rim_diameter, rim_width, opts)
      data
    end

    # Find models matching given rim parameters
    # Get a list of model modifications that match the given rim parameters, grouped by manufacturer.  It&#39;s an alias for _**&#x60;GET /bolt-patterns/{bolt_pattern}/&#x60;**_        method with given path and query parameters.
    # @param bolt_pattern Bolt pattern combines number of stud holes and pitch circle diameter. Use _**&#x60;GET /bolt-patterns/&#x60;**_ to get possible values (e.g. &#x60;5x105&#x60;)
    # @param rim_diameter Rim diameter, in (e.g. &#x60;16&#x60;)
    # @param rim_width Rim width, in (e.g. &#x60;7&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :offset Rim offset, mm (e.g. &#x60;40&#x60;)
    # @option opts [Float] :offset_min Lower bound for rim offset, mm (e.g. &#x60;35&#x60;)
    # @option opts [Float] :offset_max Upper bound for rim offset, mm (e.g. &#x60;45&#x60;)
    # @option opts [Float] :cb Centre bore value, mm (e.g. &#x60;60&#x60;)
    # @option opts [Float] :cb_min Lower bound for centre bore value, mm (e.g. &#x60;55&#x60;)
    # @option opts [Float] :cb_max Upper bound for centre bore value, mm (e.g. &#x60;65&#x60;)
    # @option opts [String] :lang Use this parameter anywhere in the API to get *&#x60;name&#x60;* field translation of the following objects: **&#x60;Make&#x60;**, **&#x60;Model&#x60;**, **&#x60;Market&#x60;**. Across the *&#x60;name&#x60;* this objects will have *&#x60;name_en&#x60;* field with original english name. By default &#x60;en&#x60; language is used.  Available languages: &#x60;en,de,ru,es,pt,fr,ja,zh-cn&#x60;. Currently translation works for chinese &#x60;zh-cn&#x60; language only
    # @option opts [String] :brands Show information only for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;mitsubishi,nissan,toyota&#x60;)
    # @option opts [String] :brands_exclude Don&#39;t show information for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;geely,great-wall&#x60;)
    # @option opts [String] :countries Show information for local manufacturers from specified countries only. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;us,gb,jp&#x60;)
    # @option opts [String] :countries_exclude Don&#39;t show information for local manufacturers from specified countries. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;ru,ua&#x60;)
    # @return [Array<(Array<MakeWithModels>, Fixnum, Hash)>] Array<MakeWithModels> data, response status code and response headers
    def search_by_rim_list_with_http_info(bolt_pattern, rim_diameter, rim_width, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_by_rim_list ...'
      end
      # verify the required parameter 'bolt_pattern' is set
      if @api_client.config.client_side_validation && bolt_pattern.nil?
        fail ArgumentError, "Missing the required parameter 'bolt_pattern' when calling SearchApi.search_by_rim_list"
      end
      # verify the required parameter 'rim_diameter' is set
      if @api_client.config.client_side_validation && rim_diameter.nil?
        fail ArgumentError, "Missing the required parameter 'rim_diameter' when calling SearchApi.search_by_rim_list"
      end
      # verify the required parameter 'rim_width' is set
      if @api_client.config.client_side_validation && rim_width.nil?
        fail ArgumentError, "Missing the required parameter 'rim_width' when calling SearchApi.search_by_rim_list"
      end
      # resource path
      local_var_path = '/search/by_rim/'

      # query parameters
      query_params = {}
      query_params[:'bolt_pattern'] = bolt_pattern
      query_params[:'rim_diameter'] = rim_diameter
      query_params[:'rim_width'] = rim_width
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'offset_min'] = opts[:'offset_min'] if !opts[:'offset_min'].nil?
      query_params[:'offset_max'] = opts[:'offset_max'] if !opts[:'offset_max'].nil?
      query_params[:'cb'] = opts[:'cb'] if !opts[:'cb'].nil?
      query_params[:'cb_min'] = opts[:'cb_min'] if !opts[:'cb_min'].nil?
      query_params[:'cb_max'] = opts[:'cb_max'] if !opts[:'cb_max'].nil?
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'brands'] = opts[:'brands'] if !opts[:'brands'].nil?
      query_params[:'brands_exclude'] = opts[:'brands_exclude'] if !opts[:'brands_exclude'].nil?
      query_params[:'countries'] = opts[:'countries'] if !opts[:'countries'].nil?
      query_params[:'countries_exclude'] = opts[:'countries_exclude'] if !opts[:'countries_exclude'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['user_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<MakeWithModels>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_by_rim_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find models matching given tire parameters
    # Get a list of model modifications matching given tire, grouped by manufacturer.  It's an alias for _**`GET /tire/{tire}/`**_ method  (tire configuration is combined of required tire width, aspect ratio and rim diameter).
    # @param tire_width Tire width, mm (e.g. &#x60;195&#x60;)
    # @param aspect_ratio Aspect ratio, % (e.g. &#x60;50&#x60;)
    # @param rim_diameter Rim diameter, in (e.g. &#x60;16&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang Use this parameter anywhere in the API to get *&#x60;name&#x60;* field translation of the following objects: **&#x60;Make&#x60;**, **&#x60;Model&#x60;**, **&#x60;Market&#x60;**. Across the *&#x60;name&#x60;* this objects will have *&#x60;name_en&#x60;* field with original english name. By default &#x60;en&#x60; language is used.  Available languages: &#x60;en,de,ru,es,pt,fr,ja,zh-cn&#x60;. Currently translation works for chinese &#x60;zh-cn&#x60; language only
    # @option opts [String] :brands Show information only for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;mitsubishi,nissan,toyota&#x60;)
    # @option opts [String] :brands_exclude Don&#39;t show information for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;geely,great-wall&#x60;)
    # @option opts [String] :countries Show information for local manufacturers from specified countries only. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;us,gb,jp&#x60;)
    # @option opts [String] :countries_exclude Don&#39;t show information for local manufacturers from specified countries. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;ru,ua&#x60;)
    # @return [Array<MakeWithModels>]
    def search_by_tire_list(tire_width, aspect_ratio, rim_diameter, opts = {})
      data, _status_code, _headers = search_by_tire_list_with_http_info(tire_width, aspect_ratio, rim_diameter, opts)
      data
    end

    # Find models matching given tire parameters
    # Get a list of model modifications matching given tire, grouped by manufacturer.  It&#39;s an alias for _**&#x60;GET /tire/{tire}/&#x60;**_ method  (tire configuration is combined of required tire width, aspect ratio and rim diameter).
    # @param tire_width Tire width, mm (e.g. &#x60;195&#x60;)
    # @param aspect_ratio Aspect ratio, % (e.g. &#x60;50&#x60;)
    # @param rim_diameter Rim diameter, in (e.g. &#x60;16&#x60;)
    # @param [Hash] opts the optional parameters
    # @option opts [String] :lang Use this parameter anywhere in the API to get *&#x60;name&#x60;* field translation of the following objects: **&#x60;Make&#x60;**, **&#x60;Model&#x60;**, **&#x60;Market&#x60;**. Across the *&#x60;name&#x60;* this objects will have *&#x60;name_en&#x60;* field with original english name. By default &#x60;en&#x60; language is used.  Available languages: &#x60;en,de,ru,es,pt,fr,ja,zh-cn&#x60;. Currently translation works for chinese &#x60;zh-cn&#x60; language only
    # @option opts [String] :brands Show information only for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;mitsubishi,nissan,toyota&#x60;)
    # @option opts [String] :brands_exclude Don&#39;t show information for specified manufacturers. Use _**&#x60;GET /makes/&#x60;**_ method to get the full list. (e.g. &#x60;geely,great-wall&#x60;)
    # @option opts [String] :countries Show information for local manufacturers from specified countries only. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;us,gb,jp&#x60;)
    # @option opts [String] :countries_exclude Don&#39;t show information for local manufacturers from specified countries. Use _**&#x60;GET /countries/&#x60;**_ method to get the full list of countries. (e.g. &#x60;ru,ua&#x60;)
    # @return [Array<(Array<MakeWithModels>, Fixnum, Hash)>] Array<MakeWithModels> data, response status code and response headers
    def search_by_tire_list_with_http_info(tire_width, aspect_ratio, rim_diameter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_by_tire_list ...'
      end
      # verify the required parameter 'tire_width' is set
      if @api_client.config.client_side_validation && tire_width.nil?
        fail ArgumentError, "Missing the required parameter 'tire_width' when calling SearchApi.search_by_tire_list"
      end
      # verify the required parameter 'aspect_ratio' is set
      if @api_client.config.client_side_validation && aspect_ratio.nil?
        fail ArgumentError, "Missing the required parameter 'aspect_ratio' when calling SearchApi.search_by_tire_list"
      end
      # verify the required parameter 'rim_diameter' is set
      if @api_client.config.client_side_validation && rim_diameter.nil?
        fail ArgumentError, "Missing the required parameter 'rim_diameter' when calling SearchApi.search_by_tire_list"
      end
      # resource path
      local_var_path = '/search/by_tire/'

      # query parameters
      query_params = {}
      query_params[:'tire_width'] = tire_width
      query_params[:'aspect_ratio'] = aspect_ratio
      query_params[:'rim_diameter'] = rim_diameter
      query_params[:'lang'] = opts[:'lang'] if !opts[:'lang'].nil?
      query_params[:'brands'] = opts[:'brands'] if !opts[:'brands'].nil?
      query_params[:'brands_exclude'] = opts[:'brands_exclude'] if !opts[:'brands_exclude'].nil?
      query_params[:'countries'] = opts[:'countries'] if !opts[:'countries'].nil?
      query_params[:'countries_exclude'] = opts[:'countries_exclude'] if !opts[:'countries_exclude'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['user_key']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<MakeWithModels>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_by_tire_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
